{
  "extends": "airbnb-base",
  "env": {
    "browser": true
  },
  "rules": {
    "arrow-body-style": 0,
    "no-underscore-dangle": 0,
    "import/extensions": 0
  },
  "overrides": [
    {
      "files": ["packages/*/test/**/*.js"],
      "env": {
        "mocha": true
      },
      "rules": {
        "camelcase": 0
      }
    },
    {
      "files": ["packages/*/demo/**/*.js"],
      "rules": {
        "import/no-extraneous-dependencies": 0
      }
    },
    {
      "files": ["**/index.js"],
      "rules": {
        "import/prefer-default-export": 0
      }
    }
  ]
}
